body {
  margin: 0;
  background-color: #0d0e0f;
  color: #e2e2e2;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgba(0, 230, 118, 0.3);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0e0f;
}

::-webkit-scrollbar-thumb {
  background: #3b4a3d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #859585;
}
